snippet cla "Class" b
class ${1:name}
  ${2:content}
end
endsnippet

snippet cla< "Class < Base" b
class ${1:name} < ${2:base}
  ${3:content}
end
endsnippet

snippet def "def function" b
def ${1:function}
  ${2:body}
end
endsnippet

snippet defa "def function(args)" b
def ${1:function}(${2:args})
  ${3:body}
end
endsnippet
