snippet r "render partial" b
= render $1
endsnippet

snippet rp "render partial" b
= render partial: '$1'
endsnippet

snippet meta "meta tag" b
meta name=$1 content=$2
endsnippet

snippet y "yield" b
= yield
endsnippet

snippet yy "yield :sym" b
= yield :$1
endsnippet
